.seefit {
  .title, .subtitle {
    color: orangered;
  }
  .cont{
    .p5{
      font-style: italic;
    }
  }
}
.nike{
  .title, .subtitle {
    color: darkblue;
  }
  .cont{
    .p5{
      font-style: italic;
    }
  }
}

